
:root {--text: #661146;
--background: #d1a6cb;
--primary: #885e8b;
--secondary: #c26dbbd5;
--accent: #914877;
* {
     /* /* border: 1px pink */
}
 
body {
    --color: var(--text);
    --background: var(--background);
    --font-family: "dancing script" , cursive; 
    --font-weight: bolder;
    --font-style: oblique;
    --font-size: large;
}
img {
    --border: 4px solid ;
    --padding: 4px;
    --border-radius: 16px;
    --background: var(--secondary);
} 
h1 {
    --text-decoration: dashed underline;
}
h2 {text-decoration: dashed underline;}


h3 {text-decoration: dashed underline ;}